.titleCard {

  .title {
    color: #333;
    font-weight: 700;
    font-size: 140%;
  }

  .author {
    color: #6e6e6e;
    font-weight: 500;
    font-size: 105%;
  }
}

.bookIcon {
  color: #333;

  font-size: 110%;
  margin-right: 8px;
}

.descText {
  width: 100%;
  transition: 0.3s;
  resize: none;

  padding: 7px 12px;
  border-radius: 16px;
  border: none;
  outline: none;

  background: #dfdfdf;

  &:hover:not(:focus) {
    background: #e9e9e9;
    box-shadow: 0px 2px 4px 2px rgba(68,68,68,0.05);
  }

  &:focus {
    background: #fff;
    resize: vertical;
    box-shadow: 0px 6px 14px 2px rgba(68,68,68,0.2);
  }
}

.changeForm {
  padding: 0px 0px;

  border-radius: 0;
  background: transparent;
  outline: none!important;

  box-shadow: none!important;
  border: none;

  transition: 0.3s;

  &.title {
    color: #333;
    font-weight: 700;
    font-size: 140%;

    &:hover {
      color: #5c5c5c;
    }
  }

  &.author {
    color: #6e6e6e;
    font-weight: 500;
    font-size: 105%;
    display: inline;

    &:hover {
      color: #9e9e9e;
    }
  }
}
