.bookCard {
  border-radius: 16px;
  box-shadow: 0px 6px 14px 2px rgba(68,68,68,0.2);
  padding: 10px 2px;

  transition: 0.3s;

  height: 132px;

  &:hover {
    box-shadow: 0px 7px 14px 2px rgba(68,68,68,0.265);
  }

  .title {
    display: inline-block;
    color: #4a4a4a;
    font-weight: 600;
    font-size: 120%;
    cursor: pointer;
    transition: 0.3s;


    &:hover {
      color: #fc638b;
    }
  }

  .author {
    color: #707070;
    font-size: 95%;
    font-weight: 500;
  }

  .progress {
    background: #c9c9c9;
    border-radius: 999px;

    div {
      background: #fc638b;
      border-radius: 999px;
    }
  }

  .pagesInput {
    text-align: center;

    border: none;
    max-width: 45px;
    outline: none;

    border-bottom: 2px solid #b8b8b8;
    transition: 0.3s;
    background: transparent;

    &:hover:not(:focus) {
      border-color: #ffbacc;
    }

    &:focus {
      border-color: #fc638b;
    }
  }
}
