html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans Display', sans-serif!important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.md-btn-1 {
  border-radius: 999px;
  padding: 2px 15px;
  background: #fc638b;
  outline: none!important;
  box-shadow: none!important;
  border: none;

  color: #ffffff;

  transition: 0.3s;

  &:hover {
    background: #df4971;
  }
}

.md-btn-2 {
  background: transparent;
  border-radius: 999px;
  padding: 2px 15px;
  outline: none!important;
  box-shadow: none!important;
  border: 1px solid #fc638b;

  color: #fc638b;

  transition: 0.3s;

  &:hover {
    background: #fc638b;
    color: #fff;
  }
}

.md-form-1 {
  border-radius: 999px;
  background: #cacaca;
  outline: none;

  border: 1px solid transparent;

  padding: 7px 15px;

  width: 100%;

  transition: 0.3s;

  &.fail {
    background: #f7e0e0!important;

    &:focus {
      border: 1px solid #fca7a7!important;
    }
  }

  &[type=password]:not(:placeholder-shown) {
    // font: small-caption;
    font-size: 16px;
  }

  &:hover:not(:focus) {
    background: #d8d8d8;
  }

  &:focus {
    border: 1px solid #e0e0e0;
    background: #e9e9e9;
  }
}

// anims

.shake-anim {
  animation: shake 0.4s cubic-bezier(.1,.07,.19,.5) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

// keyframes

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-6px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(6px, 0, 0);
  }
}
